*{

    margin              : 0;
    padding             : 0;
    box-sizing: border-box;
}


body{
    background-color        : crimson;
    
}



.container-main{
    height                  : 900px;
    width                   : 100%;

}
/* Grid setup */
.container-main{
    display: grid;
    grid-template-columns       : [first] 10% [second] 20% [trhree] auto [four] 20% [last];
    grid-template-rows          : [first] 5% [second] auto [three] 25% [last];
    grid-template-areas:
    "nav nav nav nav"
    "content content content content"
    "footer footer footer footer"
    ;
}
/* grid for internet explorer */
.container-main{
    display                     : -ms-grid;
    -ms-grid-columns             : [first] 10% [second] 20% [trhree] auto [four] 20% [last]; 
    -ms-grid-rows                : [first] 5% [second] auto [three] 25% [last]; 
}

/* end grid for ie */
.item-a{
    background-color            : black;
    grid-area                   : nav;
    -ms-grid-row                : 1;
    -ms-grid-column             : 1;

}

.item-b{
    animation                   : changebckground 15s ease-in-out infinite;
    background                  : linear-gradient(-45deg, rgb(93, 229, 253) , rgb(190, 247, 100),rgb(77, 156, 247), red);
    background-size             : 400% 400%;
    grid-area                   : content;
    -ms-grid-row                : 2;
    -ms-grid-column             : 1;
}
/* animated background */
@keyframes changebckground {
    0%{
        background-position:0 50% ;
    }
    50%{
        background-position:100% 50% ;
    }
    100%{
        background-position:0 50% ;
    }
}
/* end animated bck */

.item-c{
    background-color            : black;
    grid-area                   :  footer;
    -ms-grid-row                : 3;
    -ms-grid-column             : 1;
}
/* end grid setup */

/* responsive grid */

@media screen and (max-width:600px){
    .container-main{
        grid-template-columns       : 1fr;
        grid-template-rows          : [first] 5% [second] auto [three] 25% [last];
        grid-template-areas:
        "nav"
        "content"
        "footer"
        ;
    }
}

/* end responsive gridd */

